mat-card {
  cursor: pointer;
}

.selected {
  background-color: rgb(235, 235, 235);
  font-weight: 700;
}

.verse-tag {
  float: left;
}

.verse-text {
  margin-left: 2.5rem;
  white-space: pre-wrap;
}
