mat-divider {
  border-color: rgb(175, 175, 175);
}

mat-toolbar-row .spacer {
  flex: 1 1 auto;
}

.app-version {
  font-size: 70%;
}

mat-sidenav {
  background: white;
}

mat-sidenav-container {
  flex: 1;
}

mat-slide-toggle {
  margin-top: 0.8rem;
  margin-left: 1rem;
  font-size: 80%;
}

.toolbar-padding {
  visibility: hidden;
}

.fast-access {
  display: flex;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/*
* Make the Component injected by Router Outlet full height:
*/
main {
  display: flex;
  flex-direction: column;
  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}
