<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="menu.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="page-title">{{pageTitle}}</span>
    <span class="spacer"></span>
    <span class="app-version">v{{appVersion}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #menu mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="menu.close()" routerLink="/service">Service</a>
      <a mat-list-item (click)="menu.close()" routerLink="/slides">Slides</a>
      <a mat-list-item (click)="menu.close()" routerLink="/alerts">Alerts</a>
      <a mat-list-item (click)="menu.close()" routerLink="/search">Search</a>
      <a mat-list-item (click)="menu.close()" routerLink="/themes">Themes</a>
      <mat-divider></mat-divider>
      <a mat-list-item (click)="menu.close()" routerLink="/main">Main View</a>
      <a mat-list-item (click)="menu.close()" routerLink="/stage">Stage View</a>
      <a mat-list-item (click)="menu.close()" routerLink="/chords">Chord View</a>
      <mat-divider></mat-divider>
      <mat-slide-toggle color="primary" [checked]="fastSwitching" (change)="sliderChanged($event)">Fast switching</mat-slide-toggle>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
    <!-- These two toolbars are for padding the content so the real toolbars do not block content when scrolled down -->
    <mat-toolbar class="toolbar-padding"></mat-toolbar>
    <mat-toolbar *ngIf="fastSwitching" class="toolbar-padding"></mat-toolbar>
    <footer>
      <mat-toolbar class="footer">
        <button mat-icon-button (click)="previousItem()" matTooltip="Previous item">
          <mat-icon>first_page</mat-icon>
        </button>
        <button mat-icon-button (click)="nextItem()" matTooltip="Next item">
          <mat-icon>last_page</mat-icon>
        </button>
        <button mat-icon-button (click)="previousSlide()" matTooltip="Previous slide">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button mat-icon-button (click)="nextSlide()" matTooltip="Next slide">
          <mat-icon>navigate_next</mat-icon>
        </button>
        <button mat-icon-button (click)="blankDisplay()" class="displayButton" [class.active]="state.blank" [disabled]="state.blank" matTooltip="Show black">
          <mat-icon>videocam_off</mat-icon>
        </button>
        <button mat-icon-button (click)="themeDisplay()" class="displayButton" [class.active]="state.theme" [disabled]="state.theme" matTooltip="Show background">
          <mat-icon>wallpaper</mat-icon>
        </button>
        <button mat-icon-button (click)="desktopDisplay()" class="displayButton" [class.active]="state.display" [disabled]="state.display" matTooltip="Show Desktop">
          <mat-icon>desktop_windows</mat-icon>
        </button>
        <button mat-icon-button (click)="showDisplay()" class="displayButton" [class.active]="state.display" [disabled]="state.live()" matTooltip="Show Presentation">
          <mat-icon>videocam</mat-icon>
        </button>
      </mat-toolbar>
      <mat-toolbar *ngIf="fastSwitching" class="fast-access">
          <button mat-icon-button routerLink="/service"><mat-icon>list</mat-icon></button>
          <button mat-icon-button routerLink="/slides"><mat-icon>collections</mat-icon></button>
          <button mat-icon-button routerLink="/alerts"><mat-icon>error</mat-icon></button>
          <button mat-icon-button routerLink="/search"><mat-icon>search</mat-icon></button>
          <button mat-icon-button routerLink="/themes"><mat-icon>image_search</mat-icon></button>
      </mat-toolbar>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
